/*
 * reStructuredText theme for manuals
 *
 * Date:   2017-04-01
 * Author: Szymon 'polemon' Bereziak <polemon@gmail.com>
 *
 * Name: "pale"
 *
 */

body {
    font-family: sans-serif;
    font-size:   100%;
    background-color: #eef;
    color:       #111;
    margin:      0;
    padding:     0;
}

body > * {
    margin-left:  36pt;
    margin-right: 36pt;
}

h1, h2, h3, h4, h5, h6 {
    font-family:   sans-serif;
    background-color: #bed4eb;
    font-weight:   normal;
    color:         #212224;
    margin-top:    36pt;
    margin-bottom: 18pt;
    margin-left:   14pt;
    margin-right:  14pt;
    padding:       0.2em 0 0.2em 0.6em;
    text-shadow:   0 1pt 0 white;
    -webkit-box-shadow: 1pt 1pt 1pt #fff;
       -moz-box-shadow: 1pt 1pt 1pt #fff;
        -ms-box-shadow: 1pt 1pt 1pt #fff;
         -o-box-shadow: 1pt 1pt 1pt #fff;
            box-shadow: 1pt 1pt 1pt #fff;
}
 
h1 { font-size: 200%; border-top: 2pt solid white; }
h2 { font-size: 150%; background-color: #c8d5e3; }
h3 { font-size: 120%; background-color: #d8dee3; }
h4 { font-size: 110%; background-color: #d8dee3; }
h5 { font-size: 100%; background-color: #d8dee3; }
h6 { font-size: 100%; background-color: #d8dee3; }
 
hr {
    border: 1pt solid #b1b4b6;
}

header, div#header {
    background-color: #bed4eb;
    margin-left:   0;
    margin-right:  0;
    margin-bottom: 24pt;
    padding-bottom: 10pt;
    border-bottom: 3pt solid white;
}

h1.title {
    margin: 0;
    border: 0;
    color:  #3671af;
    font-size: 260%;
    padding-left: 24pt;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
        -ms-box-shadow: none;
         -o-box-shadow: none;
            box-shadow: none;
}

h1.subtitle, p.subtitle {
    margin: 0;
    border: 0;
    color:  #3671af;
    padding-left: 24pt;
    font-size: 200%;
}


div.body {
    background-color: #ffffff;
    color:     #3e4349;
    padding:   0 16pt 16pt 16pt;
    font-size: 0.9em;
}
 
div.footer {
    color:      #555;
    width:      100%;
    padding:    0.3em 0;
    text-align: center;
    font-size:  75%;
}
 
div.footer a {
    color: #444;
    text-decoration: underline;
}
 
div.related {
    background-color: #6ba81e;
    line-height: 12pt;
    color:       #fff;
    text-shadow: 0 1pt 0 #444;
    font-size:   0.9em;
}
 
div.related a {
    color: #e2f3cc;
}

a {
    color: #005b81;
    text-decoration: none;
}
 
a:hover {
    color: #e32e00;
    text-decoration: underline;
}


a.headerlink {
    color:     #c60f0f;
    font-size: 0.8em;
    padding:   0 0.4em 0 0.4em;
    text-decoration: none;
}
 
a.headerlink:hover {
    background-color: #c60f0f;
    color: white;
}
 
div.admonition p.admonition-title + p {
    display: inline;
}

div.highlight{
    background-color: white;
}

div.note {
    background-color: #eee;
    border: 1pt solid #ccc;
}
 
div.seealso {
    background-color: #ffc;
    border: 1pt solid #ff6;
}
 
div.topic {
    background-color: #eee;
}
 
div.warning {
    background-color: #ffe4e4;
    border: 1pt solid #f66;
}
 
p.admonition-title {
    display: inline;
}
 
p.admonition-title:after {
    content: ":";
}
 
pre {
    padding:       1em;
    background-color: white;
    color:         #222;
    line-height:   1.33em;
    border:        1pt solid #c6c9cb;
    font-size:     1.1em;
    margin-top:    18pt;
    margin-bottom: 18pt;
    -webkit-box-shadow: 1pt 1pt 1pt #d8d8d8;
       -moz-box-shadow: 1pt 1pt 1pt #d8d8d8;
        -ms-box-shadow: 1pt 1pt 1pt #d8d8d8;
         -o-box-shadow: 1pt 1pt 1pt #d8d8d8;
            box-shadow: 1pt 1pt 1pt #d8d8d8;
}
 
tt {
    background-color: #ecf0f3;
    color: #222;
    /* padding: 1px 2px; */
    font-size: 1.1em;
    font-family: monospace;
}

.viewcode-back {
    font-family: sans-serif;
}

div.viewcode-block:target {
    background-color: #f4debf;
    border-top:       1pt solid #ac9;
    border-bottom:    1pt solid #ac9;
}

p {
	margin-top:    0.4em;
	margin-bottom: 0.8em;
}

ul li dd {
	margin-top: 0;
}

ul li dl {
	margin-bottom: 0;
}

li dl dd {
	margin-bottom: 0;
}

dd ul {
    margin-top:   0.3em;
	padding-left: 0;
}

li dd ul {
	margin-bottom: 0;
}

table {
    border-collapse: collapse;
    width: 0 !important;
    margin-top: 0.2em;
    margin-bottom: 0.8em;
}

colgroup {
    width: 0 !important;
}

th, td {
    text-align: center;
    padding: 0.5ex !important;
    /* border: 1px solid #000; */
    border: 0;
    white-space: nowrap;
}

th blockquote,
td blockquote {
    margin: 0;
}

th blockquote *,
td blockquote * {
    margin: 0;
}

tr.odd th,
tr.odd td {
    background-color: #ccc;
}

tr.even th,
tr.even td {

}

code {
    font-size: 1.2em;
    background-color: #ddd;
}

pre code {
    background-color: transparent;
}

dd p {
    margin-top: 0.2em;
}
